@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-balance {
    text-wrap: balance;
  }
  
  body {
    background-color: #08080A;
    background-image: radial-gradient(#ffffff0a 1px, transparent 1px);
    background-size: 24px 24px;
  }
  
  .lime-line {
    width: 30%;
    height: 1px;
    background-color: #E8FF47;
    opacity: 0.3;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
    vertical-align: middle;
    font-size: 18px;
  }
  
  input:focus {
    outline: none !important;
    border-color: #E8FF47 !important;
    box-shadow: none !important;
  }

  .clip-hexagon {
  clip-path: polygon(
    25% 5%, 
    75% 5%, 
    100% 50%, 
    75% 95%, 
    25% 95%, 
    0% 50%
  );
}

  .no-scrollbar::-webkit-scrollbar { 
    display: none; 
  }

  .no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .pulse-lime { 
    box-shadow: 0 0 0 0 rgba(232, 255, 71, 0.4); 
    animation: pulse 2s infinite; 
  }

  @keyframes pulse {
    0% { 
      transform: scale(0.95); 
      box-shadow: 0 0 0 0 rgba(232, 255, 71, 0.7); 
    }
    70% { 
      transform: scale(1); 
      box-shadow: 0 0 0 10px rgba(232, 255, 71, 0); 
    }
    100% { 
      transform: scale(0.95); 
      box-shadow: 0 0 0 0 rgba(232, 255, 71, 0); 
    }
  }

  .active-border-hover:hover { 
    border-left: 2px solid #E8FF47; 
    background-color: #0F0F12; 
  }

}